.results {
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 14px;
}
.result {
	background-image: url("./images/Image2.jpg");
	border: 2px solid fuchsia;
	color: dodgerblue;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 3px 6px rgba(0, 0, 0.3, 0.2);
	width: fit-content;
	margin: 14px 0 12px 15rem;
}
.result-details-heading {
	font-size: 25px;
	margin: 14px 0 9px 18rem;
}
.staffs,
.students {
	background-image: url("./images/Image2.jpg");
	background-repeat: no-repeat;
	margin-top: 6px;
	border-radius: 8px;
}
.staff,
.student {
	background-color: rgba(225, 225, 225, 0.75);
	border: 1px solid black;
	width: 33%;
	display: flex;
	flex-direction: column;
	margin: auto;
	border-radius: 10px;
	padding: 10px;
	/* line-height: 26px; */
}
.staffs {
	margin-top: 11px;
	padding-top: 0;
}
.single-staff-details-container {
	width: 90%;
	margin: 50px auto;
	border-radius: 20px;
}

.single-staff-details {
	justify-content: left;
	align-items: start;
	padding: 10px;
	font-size: 10px;
	width: fit-content;
	margin: 20px auto;
}
.single-student-details {
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	/* flex-direction: column;kolade.carewu */
	justify-content: left;
	align-items: start;
	width: fit-content;
	padding: 10px;
	border-radius: 10px;
	font-size: 20px;
	margin: 12px auto;
}
.link-name {
	color: white;
	padding: 3px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	font-size: 25px;
	text-decoration: none;
	cursor: pointer;
}
.buttons-container {
	/* border: 3px solid red; */
	margin-bottom: 10px;
	display: flex;
	justify-content: space-evenly;
	width: 40%;
	align-items: center;
	margin: auto;
}
.name {
	cursor: pointer;
}
.staffs-container {
	width: fit-content;
	margin-top: -30px;
}
.adminCredentials,
.delete-result-credentials {
	display: flex;
	flex-direction: column;
	margin-left: 30%;
	width: fit-content;
}
.staff-id-input-and-button,
.student-id-input-and-button,
.resultID-input-and-button {
	display: flex;
	flex-direction: column;
	width: 15.2rem;
	margin-left: 5%;
	margin-top: 5%;
}
.message {
	/* background-color: #ad6a6abf; */
	font-size: 27px;
	width: 30%;
	height: 65vh;
	color: black;
	border-radius: 15px;
	padding-left: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 5px 2px 10px;
}
.admin-welcome-message {
	margin: 2px 6px 2px 6px;
	box-shadow: 3px 6px rgba(190, 55, 55, 0.2);
	border: 1px solid black;
	padding: 7px;
}
.admin-more {
	width: fit-content;
	margin: 5px auto;
}
.admin-nav-container {
	margin: 0 10px;
}
.more-button {
	display: flex;
	margin-top: 10px;
	margin-left: 20px;
	padding: 5px;
	font-size: 17px;
	background-color: grey;
}
.response-message {
	margin-left: 45px;
	color: black;
	width: 90%;
	height: 55vh;
	margin-top: 20px;
}
.student-login-response {
	width: 32%;
}
.errorMessage {
	background-color: red;
	color: white;
	width: 45%;
	border-radius: 7px;
	padding: 9px;
	display: flex;
	margin: auto;
	margin-top: 20px;
}
.errorMessage-delete,
.delete-student-error {
	width: fit-content;
	margin: 20px 84px;
}
.fetch-staff-error {
	margin: 20px 0 0 40px;
}
.student-online-message,
.staff-online-message {
	height: 60vh;
	background-color: rgba(225, 225, 225, 0.75);
	color: purple;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	text-transform: capitalize;
	text-shadow: 3px 3px rgba(50, 50, 70 0.5);
	box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
.student-online-message {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 10px 0 10px;
	padding: 15px;
	font-size: 24px;
	border-radius: 10px;
	background-color: white;
	height: 36vh;
	width: 20%;
}

.result-response-message {
	background-color: rgba(225, 225, 225, 0.75);
	color: purple;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	text-transform: capitalize;
	text-shadow: 3px 3px rgba(50, 50, 70 0.5);
	box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
	margin: 5px;
	padding: 5px;
	margin: 126px auto;

	width: 38%;
	text-align: center;
}

.resultInputs,
.deleteStaff-input,
.new-staff-inputs,
.student-data-input,
.staff-login-inputs,
.student-login-inputs,
.staff-update-inputs,
.adminCredentials {
	display: flex;
	flex-direction: column;
	width: 27%;
	font-size: 34px;
	margin-left: 20%;
	margin-top: 50px;
}
input {
	width: 95%;
	outline: none;
	padding: 7px;
	font-size: 14px;
	margin: 8px;
}
.uploadButton,
.deleteButton,
.search-icon-button {
	border: none;
	outline: none;
	background-color: black;
	color: white;
	width: 6rem;
	font-size: 25px;
	margin: auto;
	margin-bottom: 25px;
	border-radius: 4px;
}
.update-link {
	color: white;
}
.search-button,
.log-in-button {
	color: white;
	width: fit-content;
	margin: 0 auto;
	border-radius: 5px;
	width: 105px;
	font-size: 20px;
	padding: 6px;
	border: none;
	outline: none;
	background-color: black;
}
.input-name,
.school-intro-heading {
	display: flex;
	font-size: 30px;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 0px;
}
.input-name {
	width: fit-content;
	margin: 0;
	margin-left: 40px;
}
.title {
	text-align: center;
}
.student-form-heading {
	font-size: 15px;
	width: 100%;
	margin-left: 14px;
}
.staff-details-heading,
.student-details-heading {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 17px;
	color: white;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 50%;
}
.details {
	width: fit-content;
	background-color: rgba(225, 225, 225, 0.75);
	padding: 2px 11px;
	border-radius: 5px;
}
.navBar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	padding: 8px;
	text-decoration: none;
}
.nav {
	display: flex;
	background-color: pink;
}
.logo {
	fill: red;
	border: 2px solid black;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-top: 3%;
	margin-right: 3px;
}
.motto {
	font-size: 15px;
	font-family: verdana;
	display: block;
	margin-left: 31%;
}
.homeAndLogo {
	background-color: pink;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	font-size: 1.8rem;
	text-transform: uppercase;
}
.studentsWalking {
	width: 35%;
	height: 70vh;
	/* object-fit: contain; */
	float: right;
	border: 3px solid palevioletred;
	margin-top: 60px;
	margin-left: 10px;
	margin-right: 5px;
	border-radius: 10%;
	-webkit-box-reflect: below 0px
		linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
	box-shadow: 3px 6px rgba(0, 0, 0, 0.3);
}
.school-intro {
	margin: 0 8px 4px 15px;
}
.school-intro-heading {
	margin-bottom: 0px;
	margin-top: 2px;
}
.key {
	font-size: 20px;
	color: black;
}
.code-of-conduct {
	background-color: plum;
	border-radius: 5px;
	padding: 10px;
	border-radius: 10px;
	margin: 0 5px 10px 5px;
}
.code-of-conduct-heading {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.admin-button,
.staff-button,
.student-button,
.home-button {
	color: black;
	margin: 10px;
	background-color: lightcoral;
	padding: 5px;
	border-radius: 5px;
	font-size: 19px;
	text-decoration: none;
	outline: none;
	border: none;
}
button {
	border-radius: 5px;
	outline: none;
	border: none;
	background-color: black;
	color: white;
	padding: 4px;
}
.admin-button:active,
.staff-button:active,
.student-button:active,
.home-button:active,
.log-in-button:active {
	background-color: white;
	color: black;
}

.uploadButton:active,
.deleteButton:active {
	background-color: #86373e;
	color: beige;
}
.uploadButton:hover,
.deleteButton:hover,
.admin-button:hover,
.staff-button:hover,
.student-button:hover,
.home-button:hover,
.log-in-button:hover {
	cursor: pointer;
	background-color: firebrick;
	color: wheat;
}
.deleted-data-message {
	background-color: #86373e;
	color: #efd9c7;
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4%;
	margin-bottom: 2%;
	margin-left: 8%;
	padding: 0 40px;
	line-height: 30px;
	border-radius: 11px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial;
	font-style: italic;
	font-size: 20px;
	text-transform: capitalize;
}
.student-nav-bar,
.admin-nav-bar,
.staff-nav-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	/* flex-direction: row; */
	/* margin-top: 20px; */
}
.student-nav-bar {
	background-image: url("./images/studentsWalking.jpg");
	background-size: cover;
	background-position: center;
	height: 80vh;
}
.single-nav {
	text-decoration: none;
	background-color: lightgrey;
	color: brown;
	font-size: 22px;
	padding: 6px;
	margin: 6px;
	border: 1px solid salmon;
	border-radius: 10px;
	width: 89%;
	display: flex;
	justify-content: center;
	align-content: center;
}
.single-nav:hover {
	background-color: red;
	color: white;
}
.single-nav:active {
	background-color: black;
	color: white;
}
.admin-nav-bar-right,
.staff-nav-bar-right,
.student-nav-bar-right {
	display: flex;
	flex-direction: column;
	margin-right: 0px;
}
.admin-nav-bar-left,
.staff-nav-bar-left,
.student-nav-bar-left {
	display: flex;
	flex-direction: column;
	margin-top: 0%;
}
.update-link {
	text-decoration: none;
}
@media (max-width: 768px) {
	body {
		width: 100%;
		overflow-x: hidden;
	}
	.more-button {
		margin-left: 7px;
	}
	.header-container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.home-page-container {
		width: 100%;
	}
	.homeAndLogo {
		font-size: 1.5rem;
		width: 100%;
	}
	.studentsWalking {
		width: 48%;
		height: 40vh;
		object-fit: contain;
		float: right;
		border: 2px solid black;
		margin-top: 60px;
		margin-left: 10px;
		margin-right: 20px;
		border-radius: 10%;
		-webkit-box-reflect: below -149px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	}
	.staffs-container {
		margin-top: 57px;
	}
	.staff-nav-bar {
		margin-top: 20px;
		width: 95%;
	}
	.staff-nav-bar-left {
		width: 30%;
		margin: 10px 20px 10px 5px;
	}
	.staff-nav-bar-right {
		width: 30%;
		margin-right: 10px;
	}
	.single-nav {
		font-size: 12px;
		width: 100%;
		font-style: oblique;
	}
	.student-nav-bar-left {
		width: 28%;
		margin-left: -35px;
	}
	.student-nav-bar-right {
		margin-right: px;
		width: 27%;
	}
	.staff-online-message {
		height: 33vh;
		margin-bottom: 10px;
		font-size: 22px;
		width: 18%;
		padding: 10px;
		background-color: white;
	}
	.code-of-conduct-heading {
		font-size: 15px;
	}
	.key {
		font-size: 14px;
	}
	.title {
		font-size: 12px;
		margin: 0 auto;
	}
	.name {
		font-size: 14px;
	}
	.student-nav-bar {
		margin-top: 0px;
		padding-bottom: 150px;
		width: 100%;
	}
	.admin-nav-bar {
		width: 100%;
		padding-right: 5px;
	}
	.admin-nav-bar-left {
		width: 32%;
		margin-top: -108px;
	}
	.admin-nav-bar-right {
		width: 32%;
	}
	.admin-welcome-message {
		width: fit-content;
		padding: 5px;
		font-size: 23px;
	}
	.staffs-container {
		width: 100%;
		/* padding: 10px; */
		margin-right: 10px;
	}
	.student-online-message {
		font-size: 15px;
		height: 32%;
		width: 27%;
		margin: 5px 0px 5px 2px;
		padding: 3px;
	}
	.staff,
	.student {
		background-color: rgba(225, 225, 225, 0.75);
		width: 45%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin: 6px auto;
		border-radius: 10px;
		padding: 10px;
		line-height: 26px;
	}
	.student-name {
		font-size: 11px;
		width: 90px;
	}
	.staff-name {
		font-size: 11px;
		width: 90px;
	}
	.input-name {
		width: 200px;
		margin: auto;
	}
	.staff-details-heading {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
	}
	.student-form-heading {
		font-size: 15px;
		width: 200px;
		margin-bottom: 0px;
		margin-left: 23px;
		padding-bottom: 0%;
		display: flex;
	}

	.result-response-message {
		width: fit-content;
		margin: 25% 10% auto;
		border-radius: 10px;
	}
	.single-staff-details-container {
		width: fit-content;
		/* padding: 22px; */
	}
	.single-staff-details,
	.single-student-details {
		width: fit-content;
		padding: 10px;
		display: flex;
		justify-content: left;
		align-items: start;
		margin-top: 20px;
		margin-bottom: 14px;
		font-size: 14px;
	}
	.buttons-container {
		margin-bottom: 10px;
		display: flex;
		justify-content: space-evenly;
		width: 65%;
		align-items: center;
		margin: auto;
	}
	button {
		border-radius: 5px;
		outline: none;
		border: none;
		background-color: black;
		color: white;
		padding: 4px;
	}
	.students-container {
		width: 100%;
	}
	.staff-update-inputs {
		margin-bottom: 80px;
	}
	.message {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 58%;
		background-color: #ad6a6abf;
	}
	.student-online-message {
		background-color: whitesmoke;
		width: 30%;
		z-index: 0;
	}
	.result-details-heading {
		display: flex;
		flex-direction: row;
		margin: 0 auto;
	}
	.result {
		display: flex;
		flex-direction: column;
		margin: 5px auto;
	}
}

@media (max-width: 600px) {
	.homeAndLogo {
		font-size: 0.8rem;
		width: 100%;
	}
	.motto {
		font-size: 0.5rem;
	}
	.logo {
		width: 20px;
		height: 20px;
	}
	input {
		width: 200px;
		margin: 13px;
	}
	.school-intro-heading {
		font-size: 20px;
		flex-direction: column;
		margin-top: 10px;
		margin-bottom: 0px;
	}
	.input-name {
		font-size: 18px;
		/* margin-left: 10px; */
	}
	.code-of-conduct {
		margin-bottom: 20px;
		padding-bottom: 10px;
		margin-right: 10px;
	}
	.admin-nav-bar {
		width: 100%;
	}
	.uploadButton,
	.deleteButton,
	.log-in-button,
	.search-icon-button {
		width: 5rem;
		font-size: 16px;
		margin-left: 68px;
	}
	.admin-button,
	.staff-button,
	.student-button,
	.home-button {
		margin: 7px;
		padding: 5px;
		border-radius: 5px;
		font-size: 12px;
	}
}
